/*
Theme Name: ildm
Theme URI: 
Author: Haris
Author URI: 
Description: Wordpress theme for ILDM
Version: 1.0
License: GNU General Public License v2 or later
License URI: 

*/
main .container{
    min-height: 400px;
}
.page-id-216 .container{
	min-height:100px;
}
main .container a{
    color: #21C2F8;
}
.navbar-header{
    text-align: center;
    background: none;
    width: 100%;
}
.navbar-brand{
    width: 100%;
}
.rd-mobilepanel_title{
    text-align: center;
}
@media only screen and (min-width:400px) and (max-width: 768px)  {
    .rd-mobilepanel_title > img{
        max-width: 206px;
    }
}
#lang-switcher ul li{
    display: inline; margin-left: 10px;
}
#menu-footer-menu a, #menu-footer-menu-ml a{
  font-size: 15px;
  font-weight: bold;
  color: #21C2F8;
}

ol li{
    list-style: decimal;
    list-style-position: inside;
}
main table td{
	border:1px solid #21C2F8;
	padding-left:5px;
}
main table{
	width:100%;
}
.navbar-header{
    padding-top:0px;
}